

:root {
    /* cor */
    --azul01: #AFD1D7;
    --azul02: #3EA8BB;
    --azul03: #04A7C6;
    --azul04: #01768B;
    --azul05: #005261;
    --amarelo01: #FFF1CF;
    --amarelo02: #FFCB50;
    --amarelo03: #FFB300;
    --amarelo04: #E29F00;
    --amarelo05: #9E6E00;
    --branco: #ffffff;

    /* fontes */
    
}
