@font-face {
    font-family: Micross;
    src: url('../midia/fontes/micross.ttf');
}

@font-face {
    font-family: Windows;
    src: url('../midia/fontes/windows-bold[1].ttf');
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    /* cor */
    --cor00: #ffffff;
    --cor01: #AFD1D7;
    --cor02: #3EA8BB;
    --cor03: #04A7C6;
    --cor04: #01768B;
    --cor05: #005261;
    --cor06: #FFF1CF;
    --cor07: #FFCB50;
    --cor08: #FFB300;
    --cor09: #E29F00;
    --cor10: #9E6E00;

    /* fontes */
    --fonte01: Micross, Arial, Helvetica, sans-serif;
    --fonte02: Windows, Arial, Helvetica, sans-serif;
    --fonte3: "VT323";
}

* {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    max-width: 1200px;
    min-width: 320px;
    max-height: 180px;
    min-height: 70px;
    background: var(--cor07) url(../midia/img/ceudouradobanner.webp) top center;
    margin: auto;
    z-index: 2;
    border: 1px solid black;
    border-bottom-color: transparent;
    /*linear-gradient(to right, var(--cor07opaca) 5%, rgba(255, 202, 79, 0.471), transparent 90%), */

    /*var(--cor07) url(../midia/img/ceuazulbanner.webp)*/
}

header a {
    color: var(--cor00);
    text-decoration: none;
}

img#logo {
    max-width: 280px;
    min-width: 100px;
    margin-inline: 1vw;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul#nav-list a {
    padding: 5px;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    background-color: transparent;
    padding: 2px;
}

ul#nav-list a:hover {
    color: var(--cor08);
    font-weight: bold;
    background-color: transparent;
    padding: 2px;
}

ul#nav-list {
    background-color: var(--cor02);
    padding: 5px;
    border-radius: 10px;
    list-style: none;
    display: flex;
    gap: 4vw;
    align-items: center;
    margin: auto;
}

body {
    background: var(--cor02) url(../midia/img/ceuback.jpg) center center no-repeat fixed;
    background-size: cover;
    padding-inline: 30px;
}

main {
    background-color: var(--cor00);
    max-width: 1200px;
    min-width: 320px;
    border: 1px solid black;
    border-top-color: transparent;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.641);
    z-index: 1;
}

section.quadradoazul {
    background-image:linear-gradient(to left,#e0f0f3,  #52b8cc);
    max-width: 850px;
    min-width: 320px;
    margin: auto;
    padding: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titulo {
    text-align: center;
    color: var(--cor00);
    background-image: radial-gradient(#ffbe26, #eb6c04);
    background-size: 10px;
    margin-bottom: 30px;
    font-size: 7vw;
    font-style: italic;
}

.quadradinho {
    background-color: var(--cor02);
    min-width: 120px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding: 70px
}
.centro {
    text-align: center;
}

h2#bord {
    margin-bottom: 100px;
}

div#hamburger {
    cursor: pointer;
    background-color: var(--cor02);
    max-height: 54px;
    margin: 5vh;
    border-radius: 10px;
    display: none;
    
}

div#hamburger div {
   width: 32px;
   height: 4px;
   background-color: var(--cor00);
   margin: 9px;
}

div#hamburger:hover {
    background-color: var(--cor08);
}

@media (max-width: 860px) {
    body {
        overflow-x: hidden;
    }
    #nav-list a {
        font-size: 5em;
    }
    #nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 80vh;
        margin-bottom: 8vh;
        background-color: var(--cor02);
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(0%);
    }
}