@font-face {
    font-family: Micross;
    src: url('../midia/fontes/micross.ttf');
}

@font-face {
    font-family: Windows;
    src: url('../midia/fontes/windows-bold[1].ttf');
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    /* cor */
    --cor00: #ffffff;
    --cor01: #AFD1D7;
    --cor02: #3EA8BB;
    --cor03: #04A7C6;
    --cor04: #01768B;
    --cor05: #005261;
    --cor06: #FFF1CF;
    --cor07: #FFCB50;
    --cor08: #FFB300;
    --cor09: #E29F00;
    --cor10: #9E6E00;

    /* fontes */
    --fonte01: Micross, Arial, Helvetica, sans-serif;
    --fonte02: Windows, Arial, Helvetica, sans-serif;
    --fonte3: "VT323";
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor02);
    background-image: url(../midia/img/ceuback.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 92%;
}

main
{
    background-color: var(--cor00);
    width: 900px;
    margin: auto;
    

}

article
{
    background-color: var(--cor01);
    font-size: 13px;
    width: 50%;
    margin-bottom: 5px;
    margin-inline: auto;
    padding: 10%;
    
   
}