

:root {
    /* cor */
    --cor00: #ffffff;
    --cor01: #AFD1D7;
    --cor02: #3EA8BB;
    --cor03: #04A7C6;
    --cor04: #01768B;
    --cor05: #005261;
    --cor06: #FFF1CF;
    --cor07: #FFCB50;
    --cor08: #FFB300;
    --cor09: #E29F00;
    --cor10: #9E6E00;

    /* fontes */
    
}

main
{
    background-color: var(--cor00);

}

article
{
    background-color: var(--cor01);
    font-size: 13px;
    width: 50%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    
   
}